/*CSS General*/
*{
    margin: 0;
    padding: 0;
}
body
{
    font-family: Arial,sans-serif;
    font-size: 15px;
}
h1
{
    font-family: 'Times New Roman',serif;
    font-size: 45px;
    color: #444;
}
h2{
    color : #444; 
    font-size: 55px;
}
h4{
    font-size: 24px;
    color: #444;

}
p{
    line-height: 20px;
    color : #777 ; 
}
.pointOrange{    /* Mon point orange de mon entete*/
    color : #ff7a00; 
}
.wrapper{
    width:940px;
    margin: 0 auto;
    padding: 0 10px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #444;
}

/* HEADER*/
header
{
    height: 120px;    
}
header h1  /* pour tout les h1 qui se trouvent dans le header*/
{
    float: left;
    margin-top: 32px;
}
header nav 
{
    float: right; 
    margin-top: 50px;
}
header nav ul li {
    display: inline-block ; 
    
}
header nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
}
/* Main image */
#main-image {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    background: url('Images/24.6\ main.jpg.jpg') center;
}
#main-image h2 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding : 150px 0 40px 0 ; 
    margin-bottom: 20px;
}
.button-1
{
    display:block;
    width: 180px;
    height: 50px;
    background-color: #ff7a00;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 20px;
}

/* STEPS */

#steps ul 
{
    margin : 80px 0 ; 
}
#steps ul li 
{
    width: 300px;
    float: left;
    padding-top: 140px;
    text-align: center;
    margin-right: 10px;
    
}
#step h4
{
    text-transform: uppercase;
    margin-bottom: 20px;

}
#step p  
{
    margin-bottom: 20px;
}
#step-1 
{
    background: url('Images/24.2\ steps-icon-1.png.png') no-repeat top center;
   
}
#step-2
{
    background: url('Images/24.1\ steps-icon-2.png.png') no-repeat top center;
}
#step-3
{
    background: url('Images/24.3\ steps-icon-3.png.png') no-repeat top center;
}
#stepsAllign
{
    padding-left: 15%;
    align-items: center;
}